ssvg text {
    cursor: default;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

svg text.nodeLabelOutlines{
    stroke: white;
    stroke-width: 2.5px;
    opacity: .9;
}


#messageBox{
    background-color: #fff;
    opacity: .8;
    width: 100%;
    height: 100%;
    position: absolute;
    top:0px;
    left:0px;
}

#messageBox p{
    font-weight: bold;
    position:absolute;
    top:50%;
    left:50%;
    text-align: center;
}

div.tooltip {
  position: absolute;
  text-align: center;
  width: 60px;
  height: 28px;
  padding: 2px;
  font: 12px sans-serif;
  background: lightsteelblue;
  border: 0px;
  border-radius: 8px;
  pointer-events: none;
}


path{
    fill: #ddd;
}

/* HTML */


#headDiv{

}

#legendDiv{
}
